/* animations */
@keyframes animation-button-press {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pop-in {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slide-in {
	0% {
		max-height: 0;
	}
	100% {
		max-height: 800px;
	}
}

/* css */
html { 
	background: #252526;
	scrollbar-color: #bbbbbb #000000;
}

body {
	font-family: sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
}

a:link {
	color: #00ffff;
	font-size: 1em;
}

a:visited {
	color: #aaffff;
	font-size: 1em;
}

a:hover {
	color: #ffaaaa;
	font-size: 1em;
}

a:active {
	color: #ff0000;
	font-size: 1em;
}

#footer, #header {
	font-family: sans-serif;
	font-size: 17px;
	text-align:center;
	background: #000000;
	border-color: #000000;
	border-radius: 10px;
	border-style: solid;
	width:300px;
	margin:auto;
}

#header {
	height:45px;
}

#footer {
	height:75px;
}

.updated-header {
	min-width: 100%;
	max-width: 100%;
	text-align: center;
	font-size: 25px;
}

#copyright {
	font-family: sans-serif;
	font-size: 12px;
	color: #888888;
	margin: 10px;
}

.small-text {
	font-size: 18px;
	color: #888888;
	margin: 10px;
}

#notice {
	font-family: sans-serif;
	font-size: 20px;
	text-align:center;
	background: #222a42;
	border-color: #000000;
	border-radius: 20px;
	border-style: solid;
	width:80%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
}

#issues {
	font-family: sans-serif;
	font-size: 20px;
	text-align:center;
	background: #301919;
	border-color: #000000;
	border-radius: 20px;
	border-style: solid;
	width:80%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding-bottom:10px;
}

.margin {
	margin: 5px;
}

.detail {
	list-style-type: '';
	background: #2d2d30;
	width: 80%;
	height: 40px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #ffffff;
	text-shadow: #000000 1px 0 10px;
	font-size: 28px;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}

.detail:hover {
	outline: solid #ffffff;
}

.detail:active {
	animation: animation-button-press 0.1s;
}

details[open] > .detail {
	outline: solid #007acc;
}

.sub-detail {
	width: 75%;
	height: 30px;
	font-size: 24px;
}

.sub-detail-child {
	width: 70%;
}

.detail-icon {
	height: 40px;
	vertical-align: middle;
	margin-left: 20%;
	margin-right: 15%;
}

.sub-detail-icon {
	height: 30px;
	vertical-align: middle;
	margin-left: 20%;
	margin-right: 15%;
}

.result-icon {
	height: 40px;
	vertical-align: middle;
	margin-right: 5px;
}

.container {
	background: #181818;
	color: #ffffff;
	font-size: 30px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}

.container-header {
	display: flex;
	flex-direction: column;
	font-size: 24px;
	width: 100%;
	margin-bottom: 5px;
}

.std-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.std-button {
	width: 100px;
	height: 40px;
	background: #2d2d30;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	color: white;
	margin: 1px;
	font-size: 20px;
	cursor: pointer;
}

.std-button:active {
	animation: animation-button-press 0.1s;
}

#fav-btn {
	background: #2d2d30;
	width: 45px;
	height: 45px;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	color: #000000;
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#fav-btn:hover {
	border-color: #ffffff;
	color: #ffffff;
}

#fav-btn:active {
	animation: animation-button-press 0.1s;
}

#fav-btn.fav-on {
	border-color: #ffd700;
	color: #ffd700;
}

.tab-button {
	min-width: 200px;
	min-height: 80px;
	background: #2d2d30;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	color: white;
	margin: 5px;
	font-size: 20px;
	cursor: pointer;
	text-align: start;
}

.tab-button.active {
	animation: animation-button-press 0.1s;
	outline: solid #007acc;
}

.tab-button:hover, .std-button:hover, .btn-load:hover {
	outline: solid #ffffff;
}

.tab-button-icon {
	width: 60px;
	vertical-align: middle;
	position: relative;
	left: -5px;
}

.mini-btn {
	background: #2d2d30;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	color: white;
	display:inline-block;
}

.mini-btn:hover {
	outline: solid #ffffff;
}

.mini-btn-icon {
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
	vertical-align: middle;
}

.page-link:hover {
	outline: solid #ffffff;
}

.navigation {
	width: 45px;
	height: 45px;
	border-color: #007acc;
	border-radius: 5px;
	border-style: solid;
	color: #007acc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation:hover {
	border-color: #ffffff;
	color: #ffffff;
}

.navigation:active {
	animation: animation-button-press 0.1s;
}

.popup {
	border-radius: 25px;
	border: 2px solid #000633;
	padding: 20px;
	background-color: #005291;
	position:fixed;
	top:5%;
	left:5%;
	z-index:200;
	text-align: center;
	font-size: 25px;
	width: 15em;
	color: #ffffff;
	align-items: center;
}

#title-header {
	width: 600px;
	height: 150px;
	border: 5px solid #000000;
	border-radius: 10px;
}

.loading {
	background:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cstyle%3E.spinner_0XTQ%7Btransform-origin%3Acenter%3Banimation%3Aspinner_y6GP%20.75s%20linear%20infinite%7D%40keyframes%20spinner_y6GP%7B100%25%7Btransform%3Arotate%28360deg%29%7D%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22spinner_0XTQ%22%20d%3D%22M12%2C23a9.63%2C9.63%2C0%2C0%2C1-8-9.5%2C9.51%2C9.51%2C0%2C0%2C1%2C6.79-9.1A1.66%2C1.66%2C0%2C0%2C0%2C12%2C2.81h0a1.67%2C1.67%2C0%2C0%2C0-1.94-1.64A11%2C11%2C0%2C0%2C0%2C12%2C23Z%22%20fill%3D%22%2362c1e5%22%2F%3E%3C%2Fsvg%3E") no-repeat;
	background-position: 5px 5px;
	min-width: 140px;
	max-width: 140px;
	height: 80px;
	border: 2px solid #808080;
	box-sizing: border-box;
}

.tag {
	border: 2px solid #808080;
	border-radius: 10px;
	border-style: solid;
	white-space: nowrap;
	font-size: 20px;
	margin: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.tag:hover {
	outline: solid #007acc;
}

.tag:active {
	animation: animation-button-press 0.1s;
}

.tag-gold {
	background-color: #e8b83c;
	color: #000000;
}

.tag-silver {
	background-color: #ccdcf3;
	color: #000000;
}

.tag-bronze {
	background-color: #ab6b45;
	color: #000000;
}

.tag-normal {
	background-color: #dddddd;
	color: #000000;
}

.tag-fire {
	background-color: #d8532a;
	color: #000000;
}

.tag-water {
	background-color: #478bec;
	color: #000000;
}

.tag-earth {
	background-color: #7f5130;
	color: #000000;
}

.tag-wind {
	background-color: #67c843;
	color: #000000;
}

.tag-light {
	background-color: #e3c33c;
	color: #000000;
}

.tag-dark {
	background-color: #65489a;
	color: #ffffff;
}

.tag-cut-content {
	background-color: #c24470;
	color: #000000;
}

.tag-weaptype {
	background-color: #db9856;
	color: #000000;
}

.tag-series-summer {
	background-color: #a9ed7b;
	color: #000000;
}

.tag-series-yukata {
	background-color: #a091cf;
	color: #000000;
}

.tag-series-valentine {
	background-color: #db84bb;
	color: #000000;
}

.tag-series-halloween {
	background-color: #eb7b0c;
	color: #000000;
}

.tag-series-holiday {
	background-color: #17cf57;
	color: #000000;
}

.tag-series-zodiac {
	background-color: #ff887a;
	color: #000000;
}

.tag-series-fantasy {
	background-color: #c2fff5;
	color: #000000;
}

.tag-series-collab {
	background-color: #ffff00;
	color: #000000;
}

.tag-series-eternal {
	background-color: #00b5f7;
	color: #000000;
}

.tag-series-evoker {
	background-color: #6e0000;
	color: #cccccc;
}

.tag-series-saint {
	background-color: #00e88f;
	color: #000000;
}

.tag-gender0 {
	background-color: #6675df;
	color: #000000;
}

.tag-gender1 {
	background-color: #ff93ac;
	color: #000000;
}

.tag-gender2 {
	background-color: #ffffff;
	color: #000000;
}

.tag-race0 {
	background-color: #6dd7e4;
	color: #000000;
}

.tag-race1 {
	background-color: #c72827;
	color: #000000;
}

.tag-race2 {
	background-color: #92e56d;
	color: #000000;
}

.tag-race3 {
	background-color: #f28e00;
	color: #000000;
}

.tag-race4 {
	background-color: #ab6fd4;
	color: #000000;
}

.tag-race5 {
	background-color: #b5b4b1;
	color: #000000;
}

.tag-type0 {
	background-color: #bb963a;
	color: #000000;
}

.tag-type1 {
	background-color: #e26629;
	color: #000000;
}

.tag-type2 {
	background-color: #1a9ab9;
	color: #000000;
}

.tag-type3 {
	background-color: #f59895;
	color: #000000;
}

.tag-type4 {
	background-color: #8f53b7;
	color: #000000;
}

.clickable {
  cursor: pointer;
}

#filter {
	background: #91a0b8b0;
	border-color: #000000;
	color: #000000;
	font-size: 40px;
	border-radius: 10px;
	border-style: solid;
	width:500px;
	height:45px;
	margin: 10px;
}

#filter:hover {
	background: #ffffff;
}

#filter::placeholder {
	color: #111111;
	opacity: 0.6;
}

#filter::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    background-image: url("../assets/ui/seal.png");
	background-size: 100% 100%;
    cursor: pointer;
}

#filter::-webkit-search-cancel-button:hover {
	filter: hue-rotate(170deg);
}

#search-area {
	animation: slide-in 0.5s;
	transform-origin: top;
	display: flex;
	flex-direction: column;
}

.search-control {
	width: 100%;
	margin: auto;
}

.search-checkbox-container {
	white-space: nowrap;
}

.search-control-results {
	width: 100%;
	margin: auto;
	min-height: 350px;
	max-height: 350px;
	overflow-y: auto;
}

.tab-content {
	padding: 10px;
	font-size: 20px;
	text-align: start;
}

.navigate-element {
	border: 2px solid #808080;
	border-radius: 40px;
	max-width: 70px;
	max-height: 60px;
	overflow: hidden;
}

.navigate-element:hover {
	outline: solid #007acc;
}

.navigate-element-left {
	position: absolute;
	right: calc(100% - 75px);
	top: -1px;
}

.navigate-element-right {
	position: absolute;
	left: calc(100% - 75px);
	top: -1px;
}

.navigate-element > * {
	position: relative;
	left: -35px;
	top: -10px;
}

.index-image {
	max-height: 80px;
}

.index-image:active {
	animation: animation-button-press 0.1s;
}

.preview {
	min-width : 140px;
	max-width : 140px;
	height: 80px;
	border: 2px solid #808080;
	border-radius: 10px;
	box-sizing: border-box;
}

.preview-noborder {
	min-width : 140px;
	max-width : 140px;
	height: 80px;
}

.sky-event {
	background-color: #73ffff;
}

img {
	object-fit: contain;
}

.img-link {
	width: 60px;
	height: 60px;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	margin: 2px;
}

.img-link:hover {
	border-color: #ffffff;
}

.asset-link {
	position: relative;
	display:inline-block;
}

.asset-link:link {
	color: #44ffff;
}

.asset-link:visited {
	color: #44ffff;
}

.asset-link:hover {
	color: #44ffff;
}

.asset-link:active {
	color: #44ffff;
}

.asset-text {
	position: absolute;
	top: 0px;
	left: 5px;
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
	font-size: 16px;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.asset-text-small {
	position: absolute;
	top: 0px;
	left: 5px;
	min-width: 120px;
	min-height: 120px;
	max-width: 120px;
	max-height: 120px;
	font-size: 16px;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.asset {
	border: 2px solid #333333;
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
	box-sizing: border-box;
}

.asset-small {
	border: 2px solid #333333;
	min-width: 120px;
	min-height: 120px;
	max-width: 120px;
	max-height: 120px;
	box-sizing: border-box;
}

.skycompass {
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
	border: 2px solid #e0ffff;
	border-radius: 10px;
	background: url(../assets/ui/skycompass.png) no-repeat bottom left 0% / 15%;
	box-sizing: border-box;
}

.toggle-btn
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	z-index: 1;
}

.toggle-btn:hover
{
	filter: hue-rotate(170deg);
}

.fullscreen-preview {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #181818db;
	z-index:100;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: auto;
	text-align: center;
}

.fullscreen-button {
	width: 200px;
	height: 50px;
	background: #2d2d30;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	color: white;
	margin: 10px;
	font-size: 30px;
	cursor: pointer;
}

.fullscreen-button:active {
	animation: animation-button-press 0.1s;
}

.fullscreen-button:hover {
	outline: solid #ffffff;
}

.preview-mypage-top {
	width: 640px;
	height: 940px;
	white-space: nowrap;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
}

.preview-mypage-top::before {
	position: absolute;
	content: '';
	background: url(../assets/ui/home_ui.png) no-repeat;
	background-size: 640px 940px;
	max-width: 640px;
	max-height: 940px;
	width: 640px;
	height: 940px;
}

.preview-mypage-bg {
	background: url(../assets/ui/home_bg.jpg) no-repeat;
	background-size: 640px 940px;
	max-width: 640px;
	max-height: 940px;
	width: 640px;
	height: 940px;
}

.preview-profile-top {
	width: 640px;
	height: 912px;
	white-space: nowrap;
	margin: 10px;
	margin-left:auto;
	margin-right:auto;
}

.preview-profile-top::before {
	position: absolute;
	content: '';
	background: url(../assets/ui/profile_ui.png) no-repeat;
	background-size: 640px 912px;
	max-width: 640px;
	max-height: 912px;
	width: 640px;
	height: 912px;
}

.preview-profile-bg {
	max-width: 640px;
	max-height: 912px;
	width: 640px;
	height: 912px;
}

.link {
	background: url(../assets/ui/link.png) no-repeat bottom left 0% / 15%;
}

.corner-icon {
	height: 25px;
}

.more {
	background: url(../assets/ui/more.png) no-repeat bottom left 0% / 20%;
}

.vs {
	background: url(../assets/ui/vs.png) no-repeat bottom left 0% / 20%;
}

.scene {
	background: url(../assets/ui/event.png) no-repeat;
	background-size: 100% 100%;
	font-size: 16px;
	color: black;
	font-weight: bold;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	text-align: center;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
	position: relative;
}

.sound-only {
	background: url(../assets/ui/sound_only.png) no-repeat;
	background-size: 100% 100%;
	font-size: 16px;
	color: black;
	font-weight: bold;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	text-align: center;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
	position: relative;
}

.scene:active, .sound-only:active {
	animation: animation-button-press 0.1s;
}

.fate-image {
	border-radius: 10px;
	outline: 5px solid #61d0fa;
	outline-offset: -5px;
	outline-style: outset;
}

.sound-file {
	background: url(../assets/ui/sound.png) no-repeat;
	background-size: 100% 100%;
	width: 120px;
	height: 120px;
	font-size: 16px;
	color: black;
	font-weight: bold;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	text-align: center;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
	position: relative;
}

.sound-link {
	position: absolute;
	bottom: 6px;
	left: 25px;
	width: 70px;
	height: 20px;
}

.checkbox {
	width: 25px;
	height: 25px;
}

.checkbox-label {
	font-size: 20px;
}

.no-animation:active {
	animation: none;
}

.audio-container {
	max-width: 600px;
	margin: auto;
}

.audio-player {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.audio-player-break{
	flex-basis: 100%;
	height: 0;
}

.audio-player-value {
	min-width: 60px;
	max-width: 60px;
	font-size: 20px;
}

.audio-player-slider{
	flex-grow: 100;
	max-width: 300px;
	margin-left: 5px;
	margin-right: 5px;
}

.audio-player-button {
	background: #2d2d30;
	/* #007acc color */
	background:url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%27-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%27%20%27http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%27%3E%3Csvg%20fill%3D%22%23000000%22%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22m392.5%2C239.1l-187.6-130.6c-10-7.4-30.6-3.7-32.1%2C16.8v261.2c1.1%2C24.2%2024.7%2C22.8%2032.1%2C16.8l187.6-130.6c6.7-4.1%2016.2-20%200-33.6zm-178.8%2C108.3v-183l131.4%2C91.5-131.4%2C91.5z%22%20fill%3D%22%23007acc%22%2F%3E%3Cpath%20d%3D%22M256%2C11C120.9%2C11%2C11%2C120.9%2C11%2C256s109.9%2C245%2C245%2C245s245-109.9%2C245-245S391.1%2C11%2C256%2C11z%20M256%2C460.2%20c-112.6%2C0-204.2-91.6-204.2-204.2S143.4%2C51.8%2C256%2C51.8S460.2%2C143.4%2C460.2%2C256S368.6%2C460.2%2C256%2C460.2z%22%20fill%3D%22%23007acc%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	margin: 5px;
}

.audio-player-button-paused {
	/* red color */
	background:url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%27-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%27%20%27http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%27%3E%3Csvg%20fill%3D%22%23000000%22%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22m392.5%2C239.1l-187.6-130.6c-10-7.4-30.6-3.7-32.1%2C16.8v261.2c1.1%2C24.2%2024.7%2C22.8%2032.1%2C16.8l187.6-130.6c6.7-4.1%2016.2-20%200-33.6zm-178.8%2C108.3v-183l131.4%2C91.5-131.4%2C91.5z%22%20fill%3D%22red%22%2F%3E%3Cpath%20d%3D%22M256%2C11C120.9%2C11%2C11%2C120.9%2C11%2C256s109.9%2C245%2C245%2C245s245-109.9%2C245-245S391.1%2C11%2C256%2C11z%20M256%2C460.2%20c-112.6%2C0-204.2-91.6-204.2-204.2S143.4%2C51.8%2C256%2C51.8S460.2%2C143.4%2C460.2%2C256S368.6%2C460.2%2C256%2C460.2z%22%20fill%3D%22red%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
	background-size: 100% 100%;
}

.audio-player-button:hover {
	/* white color */
	background:url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%27-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%27%20%27http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%27%3E%3Csvg%20fill%3D%22%23000000%22%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22m392.5%2C239.1l-187.6-130.6c-10-7.4-30.6-3.7-32.1%2C16.8v261.2c1.1%2C24.2%2024.7%2C22.8%2032.1%2C16.8l187.6-130.6c6.7-4.1%2016.2-20%200-33.6zm-178.8%2C108.3v-183l131.4%2C91.5-131.4%2C91.5z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M256%2C11C120.9%2C11%2C11%2C120.9%2C11%2C256s109.9%2C245%2C245%2C245s245-109.9%2C245-245S391.1%2C11%2C256%2C11z%20M256%2C460.2%20c-112.6%2C0-204.2-91.6-204.2-204.2S143.4%2C51.8%2C256%2C51.8S460.2%2C143.4%2C460.2%2C256S368.6%2C460.2%2C256%2C460.2z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
	background-size: 100% 100%;
}

.audio-player-button:disabled {
	/* grey color */
	background:url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%27-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%27%20%27http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%27%3E%3Csvg%20fill%3D%22%23000000%22%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20enable-background%3D%22new%200%200%20512%20512%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22m392.5%2C239.1l-187.6-130.6c-10-7.4-30.6-3.7-32.1%2C16.8v261.2c1.1%2C24.2%2024.7%2C22.8%2032.1%2C16.8l187.6-130.6c6.7-4.1%2016.2-20%200-33.6zm-178.8%2C108.3v-183l131.4%2C91.5-131.4%2C91.5z%22%20fill%3D%22grey%22%2F%3E%3Cpath%20d%3D%22M256%2C11C120.9%2C11%2C11%2C120.9%2C11%2C256s109.9%2C245%2C245%2C245s245-109.9%2C245-245S391.1%2C11%2C256%2C11z%20M256%2C460.2%20c-112.6%2C0-204.2-91.6-204.2-204.2S143.4%2C51.8%2C256%2C51.8S460.2%2C143.4%2C460.2%2C256S368.6%2C460.2%2C256%2C460.2z%22%20fill%3D%22grey%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
	background-size: 100% 100%;
}

.audio-inner-container {
	width: 100%;
	min-height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.audio-label {
	width: 200px;
	font-size: 25px;
}

.audio-select {
	background-color: #ffffffb0;
	border: none;
	margin: 5px;
	font-size: 25px;
	flex-grow: 100;
}

.audio-button {
	width: 45%;
	height: 40px;
	background: #2d2d30;
	border-color: #000000;
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	margin: 5px;
}

.audio-button:hover {
	outline: solid white;
}

/* mobile/tablet layout */
@media (hover: none) or (pointer: coarse) {
	@media (orientation: portrait) {
		#title-header {
			width: 100%;
			max-width: 600px;
			height: auto;
			max-height: 150px;
		}
		
		#filter {
			width: calc(80% - 30px);
			max-width: 500px;
		}
		
		.tab-button {
			min-width: 160px;
			min-height: 60px;
			font-size: 16px;
		}

		.tab-button-icon {
			width: 40px;
		}
		
		.detail {
			width: 95%;
			font-size: 20px;
			text-overflow: clip;
			overflow: hidden;
			white-space: nowrap;
		}
		
		.sub-detail {
			width: 90%;
			font-size: 20px;
		}

		.sub-detail-child {
			width: 85%;
		}

		.detail-icon {
			margin-left: 5%;
			margin-right: 10%;
		}

		.sub-detail-icon {
			margin-left: 5%;
			margin-right: 5%;
		}

		.loading {
			min-width : 105px;
			max-width : 105px;
			height: 60px;
		}
		
		.index-image {
			max-height: 60px;
		}

		.preview {
			min-width : 105px;
			max-width : 105px;
			height: 60px;
		}

		.preview-noborder {
			min-width : 105px;
			max-width : 105px;
			height: 60px;
		}
		
		.asset {
			min-width: 180px;
			min-height: 180px;
			max-width: 180px;
			max-height: 180px;
		}

		.skycompass {
			min-width: 180px;
			min-height: 180px;
			max-width: 180px;
			max-height: 180px;
		}

		.toggle-btn
		{
			width: 30px;
			top: -10px;
			left: -10px;
		}

		.homepage-ui {
			width: 320px;
			height: 470px;
		}
		
		.homepage-ui::before {
			max-width: 320px;
			max-height: 470px;
			width: 320px;
			height: 470px;
		}
		
		.homepage-bg {
			background: url(../assets/ui/home_bg.jpg) no-repeat;
			background-size: 320px 470px;
			max-width: 320px;
			max-height: 470px;
			width: 320px;
			height: 470px;
		}

		.profilepage-ui {
			width: 320px;
			height: 456px;
			white-space: nowrap;
		}

		.profilepage {
			width: 320px;
			height: 456px;
		}

		.profilepage-ui::before {
			max-width: 320px;
			max-height: 456px;
			width: 320px;
			height: 456px;
		}
		
		.tag {
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 18px;
		}

		.navigate-element {
			top: 30px;
		}
		
		.navigate-element > * {
			position: relative;
			left: -20px;
			top: 0px;
		}

		.std-button-container {
			flex-wrap: wrap;
		}

		.checkbox {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.checkbox-label {
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.popup {
			max-width: 80%;
		}

		.audio-player-value {
			min-width: 40px;
			max-width: 40px;
			font-size: 16px;
		}

		.audio-player-slider{
			max-width: 300px;
		}

		.audio-label {
			width: 100px;
			font-size: 20px;
		}

		.audio-select {
			margin: 5px;
			font-size: 20px;
		}
	}

	.toggle-btn:hover
	{
		filter: none;
	}
	@media (orientation: landscape) {
	}
}